* {
  margin: 0;
  padding: 0;
  font-family: 'EncodeSans', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: auto;
  font-size: 12px;
  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
}

/*------MENU LATERAL---------*/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  float: left;
  width: 150px;
  height: 100vh;
  background-color: DarkGreen;
  box-shadow: 5px 5px 7px 0 rgba(50, 50, 50, 0.22);
}

.menu-links a {
  display: flex;
  justify-items: center;
  align-items: center;
  color: lightgreen;
}

.menu-links span {
  padding: 15px 5px;
}

.link a:hover {
  color: white;
  background-color: forestgreen;
  transition: all ease-in 0.5s;
  box-shadow: 0px 3px 3px rgb(46, 46, 46, 0.5);
}

.link:hover .icon {
  color: yellowgreen;
}

.logo img {
  width: 50px;
}

/*------CABEÇALHO---------*/
.header {
  display: flex;
  height: 200px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.image-header {
  position: absolute;
  top: -250px;
  right: 0;
  z-index: -1;
  filter: blur(1.5px);
  transform: scaleX(-1);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.logo span {
  color: aliceblue;
  font-weight: bold;
}
.logo h4 {
  color: limegreen;
}

/*------PRINCIPAL---------*/
.content {
  margin-left: 150px;
  padding: 10px 100px;
  background-color: aliceblue;
}

.content h1 {
  font-size: 2em;
  color: limegreen;
  padding: 25px 0;
  text-align-last: center;
}

.content p {
  display: flex;
  color: midnightblue;
  font-size: 1.5em;
  margin: 0 auto;
  text-indent: 50px;
  text-align: justify;
  word-spacing: 10px;
  padding: 10px 0;
}

/*-------depoimentos-------*/

.depositions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  margin-left: 150px;
  background-color: aliceblue;
}

.depositions .title h3 {
  font-size: 1.3em;
  text-align: center;
  padding: 50px 0 2px;
  color: limegreen;
}
.depositions .title h1 {
  font-size: 2em;
  padding: 25px 0;
  color: royalblue;
}

.cards-depositions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  background-color: white;
  border: 1px solid lightgreen;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
  height: 300px;
  box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.5);
  transition: all 0.5s ease-out;
}

.quote {
  float: left;
  z-index: 1;
  padding: 0 10px;
  width: 45px;
  transform: rotate(180deg);
}

.deposition {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  justify-content: space-evenly;
  text-align: center;
}

.img-card {
  position: absolute;
  object-fit: cover;
  width: 250px;
  height: 300px;
  opacity: 0.3;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-10px);
  transition: ease-in-out 0.2s;
}

.card p {
  color: midnightblue;
  font-style: italic;
  padding: 10px 15px 0;
  z-index: 1;
}
.info-card {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.info-card span {
  padding: 5px 0;
  color: darkgreen;
  z-index: 1;
}

/*----- FOOTER -------*/
footer {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: green;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.leis {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
}
.leis li, a {
  color: aliceblue;
  padding: 5px;
}
.leis li:hover a {
  transition: ease ease-in-out .5s;
  color: midnightblue;
}

footer .direitos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 150px;
  color: aliceblue;
  padding: 10px 0;
  border-top: 2px solid lightgreen;  
}

footer .rede {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rede img {
width: 30px;
padding: 5px 15px;
}
